/* Basic */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
   margin: 0;
  padding: 0;
}


body {
  background-color: #fafafa;
  font-family: avenir, sans-serif;
  color: #444;
  font-size: 14px;
  line-height: 1.3;
}

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(216, 231, 241, 0.95);
    position: fixed;
    text-align: center;
    top: 0;}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position:static;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    text-align: left;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(216, 231, 241, 0.95);
}

a:link    {color:#2E2E2E; background-color:transparent; text-decoration:none}
a:visited {color:#2E9AFE; background-color:transparent; text-decoration:none}
a:hover   {color:#2E9AFE; background-color:transparent; text-decoration:underline}
a:active  {color:rgba(216, 231, 241, 0.95); background-color:transparent; text-decoration:underline}

.content {
  display: block;
  max-width: 780px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
  margin: 20px 0px 10px 0px;
}

p {
  margin: 0.7em 0;
}

ul {
  margin: 0.7em 0;
}

li {
  margin-left: 30px;
}

a {
  padding: 2px 0px;
  border-radius: 4px;
  color: #3399FF;
  text-decoration: none;
  transition: 0.1s;
}

a:hover, a:focus {
  background: #E9F6FB;
  transition: 0s;
}

.clear {
  clear:both;
}

code {
  font-family: 'Inconsolata';
  font-size: 14px;
  padding: 2px;
  border-radius: 2px;
  background: #F4F4F4;
  white-space: pre;
}

pre code {
  font-family: 'Inconsolata';
  font-size: 14px;
  padding: 6px 0px;
  border-radius: 4px;
  background: none;
  white-space: pre;
  display: block;
  margin: 20px;
}

form input, form textarea {
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 15px 25px 0;
  width: 315px;
}

fieldset {
  border: 1px solid transparent;
}


/* Fonts */
strong {
  font-family: avenir-bold, sans-serif;
}

em {
  font-family: avenir-italics, sans-serif;
}

@font-face {
  font-family: 'avenir';
  src: url('https://daks2k3a4ib2z.cloudfront.net/565a4953875a63ba7177173e/565c7242672cf3850db660d9_AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-italic';
  src: url('https://daks2k3a4ib2z.cloudfront.net/565a4953875a63ba7177173e/566ae7bab6f5566825851d69_AvenirNextLTPro-It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'avenir-bold';
  src: url('https://daks2k3a4ib2z.cloudfront.net/565a4953875a63ba7177173e/566ae7ba0c0df85f253e6958_AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}


/* Navigation */
.nav-container {
  z-index: 10;
  position: fixed;
  top: 0px;
  height: 42px;
  width: 100%;
  display: block;
  background-color: rgba(216, 231, 241, 0.95);
  font-size: 16px;
}

nav.expanded {
  max-width: 780px;
  margin: 8px auto;
}

.name {
  font-weight: bold;
}

.here { /*currently selected nav button*/
  border-radius: 7px;
}

.here:hover{
  background: #3399FF;
  color: white;
}

.nav-button {
  margin: 0px 4px;
  padding: 2px 8px;
  float: left;
  cursor: pointer;
}

.nav-button:hover {
  border-radius: 8px;
}

.compressed-container {
    display: none;
}

.dropdown-list {
  background-color: rgba(216, 231, 241, 0.95);
  display: none;
  position: absolute;
  top: 42px;
  height: 42px;
  padding: 6px;
  max-width: 780px;
}

.dropdown:hover {
  border-radius: 6px;
  background-color: #E9F6FB;
}

.down-arrow {
  right: -14px;
  color: #0a0;
  font-size: 16px;
}

.down-arrow:focus {
  color: white;
}

.dropdown-choice {
  padding: 6px 8px 4px;
  display: block;
}

.dropdown-choice:hover {
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 8px;
}

.line {
  height: 1px;
  width: 100%;
  position: absolute;
  top: 42px;
  background-color: #ccc;
}


/* Footer */
footer {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  color: #777777;
}

.logo {
  margin: 0 auto;
  display: block;
  border: 1px solid #fafafa;
  border-radius: 10px;
  transition: 0.5s;
}

.logo:hover {
  border: 1px solid #3399FF;
  border-radius: 10px;
  transition: 0s;
}


/* Tables */
table {
  outline: none;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em auto;
  padding: 0;
}

tr {
  border-bottom: solid lightgrey 1px;
}

tbody > tr:last-child {
  border-bottom: none;
}

th {
  background-color: #eeeeff;
  padding: 8px;
  margin: 0;
  text-align: center;
  vertical-align: top;
  border-bottom: solid black 1px;
}

td {
  padding: 10px 8px;
  margin: 0;
  text-align: center;
  vertical-align: top;
  background-color: ivory;
}

table li {
  margin-bottom: 8px;
  margin-left: 0px;
  display: block;
  line-height: 1.1em;
}


/* Different screen sizes */
@media (max-width: 768px) {
  .nav-button {
    display: block;
  }

  /* Table */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr { border: 1px solid #B4A2D3; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #B4A2D3;
    position: relative;
    padding-left: 37%;
    width: 100%;
    text-align: left;
  }

  /* Now like a table header */
  td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35%;
    height: 100%;
    padding: 6px 10px 0px 6px;
    font-weight: bold;
    background-color: #eeeeff;
    white-space: pre;
  }

  .logo {
    width: 60%;
  }
}

@media (max-width: 650px) {
  nav.expanded {
    display: none;
  }

  .compressed-container {
    display: block;
  }

  .dropdown-toggle {
    margin: 8px 4px;
  }

  .dropdown-list {
    height: inherit;
  }

  .name::after {
    padding-left: 5px;
    content: "▼";
  }
}
